.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s easi-in-out;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal__image-container {
  position: relative;
}

.modal__close {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: 35px 35px;
  border: none;
  top: 32px;
  right: 50px;
  transition: 0.3s;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.modal__close_type_preview {
  background: transparent url("../images/Close-Icon-white.svg") center no-repeat;
  top: 0;
  right: -52.5px;
}

.modal__close_type_preview:hover {
  background: transparent url("../images/close-hover.svg") center no-repeat;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  width: 100%;
  object-fit: contain;
  display: block;
}

.modal__caption {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  padding: 4px 8px;
  display: inline-block;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  opacity: 40%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__button {
  max-width: 156px;
  width: 100%;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.modal__button_disabled {
  background-color: rgba(33, 33, 33, 1);
  opacity: 50%;
  color: rgba(252, 245, 229, 1);
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: rgba(33, 33, 33, 1);
}
.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: rgba(33, 33, 33, 0.7);
  display: block;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border: solid 1px rgba(33, 33, 33, 0.4);
}

.modal__input:hover {
  border: solid 1px rgba(33, 33, 33, 1);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  display: block;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: rgba(255, 0, 0, 0.7);
  margin-top: 8px;
  opacity: 0;
}

.modal__error_visible {
  opacity: 1;
}

@media screen and (max-width: 320px) {
  .modal__container {
    padding: 12px 12px;
    gap: 24px;
  }

  .modal__title {
    font-size: 20px;
    margin: 12px 0 24px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    box-sizing: border-box;
  }

  .modal__button {
    max-width: none;
    width: 100%;
  }
}

@media screen and (max-width: 627px) {
  .modal__close_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }
}
